*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* Barra nav */

header nav {
    background: #333;
}

#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.7rem;
    padding: 0 1rem;
    max-width: 1000px;
    margin: 0 auto;
}

#navbar a {
    color: #f5f5f7;
    transition: .4s;
}

#navbar a:hover {
    color: white;
}

#bottom-header {
    font-size: .8rem;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

#bottom-header h3 {
    font-size: 1.2rem;
}

#bottom-header a {
    color: #333;
}

#bottom-header-inner {
    max-width: 1000px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

#bottom-header a {
    margin: 0 0.5rem;
}


#bottom-header-inner .btn, .btn {
    background: #0071e3;
    border-radius: 10rem;
    padding: .4rem 1rem;
    color: #fff;  
}

/* Conteudo */

#ribbon {
    text-align: center;
    padding: 1rem;
    background-color: #f5f5f7;
    color: #1d1d1d;
    font-size: 0.8rem;
}

#ribbon a {
    color: #0071e3;
}

#content {
    text-align: center;
    color: #1d1d1d;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content #title {
    margin: 1rem;
    font-size: 1.2rem;
}

#content #subtitle {
    margin: 1rem;
    font-size: 4rem;
    font-weight: bold;
}

#content #description {
    max-width: 600px;
    margin: 1rem auto;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

#content #price{
    font-size: 1.3rem;
    color: #86868b;
    margin: 2rem;
}

#content .btn {
    font-size: 1.1rem;
    padding: .8rem 1.4rem;
    align-self: center;
}

#content #product-img{
    max-width: 1000px;
    margin: 3rem auto;
    opacity: 1;
    transition: .5s;
}

#content #product-img.changin {
    opacity: 0.5;
}

#img-picker{
    margin-bottom: 500px;
}

#img-picker ul{
    display: flex;
    justify-content: center;
}

#img-picker li {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

#img-picker li .color{
    width: 2rem;
    height: 2em;
    border-radius: 50%;
    box-shadow: 1px 1px 1px;
    border: 4px solid #fff;
    pointer-events: none;
}

#img-picker li .description{
    font-size: .7rem;
    color: #1d1d1d;
    margin-top: 0.6rem;
}

#green .color{
    background-color: #394c38;
}

#silver .color{
    background-color: #f1f2ed;
}

#golden .color{
    background-color: #fae7cf;
}

#grafite .color{
    background-color: #44524f;
}

#blue .color{
    background-color: #a7c1d9;
}

.selected {
    outline: 2px solid #43a1ff;
}

